input, button {border: 1px solid #999; padding: 0.75em 1em; margin: 0.5em;}
input {padding: 0.5em 1em;}
.wrapper {padding: 1em; max-width: 400px; margin: auto; overflow: hidden;}
h1.title {padding: 1.5em 0 1em 0; font-size: 2em; text-align: center; color:#333; text-decoration: underline;}
.img-wrap {border: 5px solid #ddd; margin-bottom: 1em;}
.list-wrap {width: 101%;}
.list-wrap > .list {float: left; width: 13.2857%; margin-right: 1%; border: 3px solid #ddd; cursor: pointer;}
.list-wrap > .list.active {border: 3px solid #75dfff;}