/* 노랑, 하늘색, 밝은빨강, 회색, 연두 */
input, button {padding: 0.75em 1.25em; margin: 0.5em; border: 1px solid burlywood;}
input {padding: calc(0.75em - 2.5px) 1.25em; width: 150px;}

.wrapper {max-width: 800px; margin: auto; padding: 0 1em;}
.title {padding: 1em; font-size: 1.5em; text-align: center;}
.disp-wrapper {text-align: center; margin-bottom: 1em;}
.history-wrapper {border: 2px solid #ddd; padding: 1em;}

.ball {width: 40px; height: 40px; border-radius: 50%; text-align: center; line-height: 37px; letter-spacing: -2px; padding-right: 2px; color: #fff; font-weight: bold; font-size: 1.25em; text-shadow: 0 0 4px rgba(0, 0, 0, .4);}
.ball.yellow {
	background-image: radial-gradient(at 35% 25%, #ffeb33 10%, #dab902 50%, #242400 100%);}
.ball.blue {
	background-image: radial-gradient(at 35% 25%, #33ffe4 10%, #02c1da 50%, #002124 100%);}
.ball.red {
	background-image: radial-gradient(at 35% 25%, #ff7272 10%, #da1402 50%, #240000 100%);}
.ball.grey {
	background-image: radial-gradient(at 35% 25%, #e2e2e2 10%, #929292 50%, #1b1b1b 100%);}
.ball.green {
	background-image: radial-gradient(at 35% 25%, #84ff7f 10%, #51da02 50%, #064400 100%);}